<app-loading *ngIf="isLoad$|async"></app-loading>
<div class="wrapper" *ngIf="!(isLoad$|async)">
  <div class="content">
    <div class="logo">conduit</div>
    <div class="nav">
      <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>

      <ng-container *ngIf="!(logedIn$|async)">
        <a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page"
      
          >Sign in</a
        >
        <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page"
         
          >Sign up</a
        >
      </ng-container>
      <ng-container *ngIf="logedIn$|async">
        <a routerLink="edit" routerLinkActive="active" ariaCurrentWhenActive="page"> &#9998;New Article</a>
        <a><i class="fa fa-cog"></i>&nbsp;Settings </a>
        <a><span class="smile">&#9786; </span>{{(courrentUser$|async)?.username}}</a>
      </ng-container>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

