<app-loading *ngIf="isLoad$|async"></app-loading>
<div class="wrapper" *ngIf="!(isLoad$|async)">
  <div class="container">
    <h1>Sign up</h1>
    <a routerLink="../login">Have an account?</a>
    <app-backend-error [backendErrore]="backendErrore$|async"></app-backend-error>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Username" formControlName="username" />
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button>Sign up</button>
    </form>
  </div>
</div>