<div class="wrapper">
  <div class="container">
    <h1>Sign up</h1>
    
    <a routerLink="../login">Have an account?</a>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Username" formControlName="username" />
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button>Sign up</button>
    </form>
  </div>
</div>